<div xmlns:th="http://www.thymeleaf.org" th:fragment="headers (content_length,data_field, id)" role="tabpanel" class="tab-pane fade"
     th:id="${id}" style="margin: 20px;" th:classappend="${id == 'requestHeaders' && content_length == 0} ? 'active show'">

    <table th:if="${not #lists.isEmpty(data_field)}" class="table table-hover table-borderless" data-toggle="table">
        <tbody>
            <tr th:each="header,itrStat : ${data_field}" class="table-cell">
                <td th:text="${header.name}" style="font-weight: bold;align-content: center" class="col-auto" data-align="center" data-width="100"></td>
                <td th:text="${header.value}" style="align-content: center" class="col-auto" data-align="center" ></td>
            </tr>
        </tbody>
    </table>
</div>
