.container .url {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 20px;
}

.container .url .shorten {
    margin-top: 5px;
}

body {
    overflow-y: scroll;
}
