<head xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="/css/style.css"
          th:href="@{/css/style.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=5A5WynP6Bn"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png?v=5A5WynP6Bn" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png?v=5A5WynP6Bn" sizes="16x16"/>
    <link rel="manifest" href="/manifest.json?v=5A5WynP6Bn"/>
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=5A5WynP6Bn" color="#5bbad5"/>
    <link rel="shortcut icon" href="/favicon.ico?v=5A5WynP6Bn"/>
    <meta name="theme-color" content="#ffffff"/>
</head>
