<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>

<body>

<div class="container">
    <h3>Error</h3>
    <h4 th:text="${message}"></h4>
    <pre th:text="${stacktrace}" class="prettyprint lang-java pre-scrollable"></pre>

    <h5><a href="https://github.com/simonpercic/ResponseEcho">simonpercic/ResponseEcho</a></h5>
</div>

</body>
</html>
