<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>ResponseEcho</title>
    <object th:replace="base_head :: head"></object>
</head>

<body>

<div class="container">

    <div class="page-header">
        <h3>
            <span th:text="${data_request_method != null} ? (${data_request_method} + ' ')"></span>
            <a th:if="${data_request_url != null}" th:href="${data_request_url}" th:text="${data_request_url}"></a>
            <span th:text="${data_protocol != null} ? (' ' + ${data_protocol})"></span>
        </h3>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Request</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#requestBody" aria-controls="requestBody" role="tab" data-toggle="tab">
                        Body
                    </a>
                </li>
                <li role="presentation">
                    <a href="#requestHeaders" aria-controls="requestHeaders" role="tab" data-toggle="tab">
                        Headers
                        <span th:text="${not #lists.isEmpty(data_request_headers)} ? ${#lists.size(data_request_headers)} : '0'"
                              class="badge"></span>
                    </a>
                </li>
            </ul>

            <hr/>

            <div class="tab-content">
                <div th:replace="fragments/network_body :: body (body_field=${request_body}, body_state=${data_request_body_state}, content_type=${data_request_content_type}, content_length=${data_request_content_length}, body_size=0, body_url=${request_body_url}, id='requestBody')"></div>
                <div th:replace="fragments/network_headers_list :: headers (data_field=${data_request_headers}, id='requestHeaders')"></div>
            </div>
        </div>
    </div>

    <hr/>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Response</h3>
        </div>
        <div class="panel-body">
            <h4>
                <span th:text="${data_request_failed} ? 'Failed'"></span>
                <span th:text="${data_response_code > 0} ? ${data_response_code}"></span>
                <span th:text="${data_response_message != null} ? ${data_response_message}"></span>

                <span th:if="${data_response_duration_ms > 0}">
                    <span th:text="(${data_request_failed || data_response_code > 0 || data_response_message != null} ? ' | ' : '') + 'duration: ' + ${data_response_duration_ms} + ' ms'"></span>
                </span>
            </h4>

            <ul class="nav nav-pills" role="tablist">
                <li role="presentation" class="active">
                    <a href="#responseBody" aria-controls="responseBody" role="tab" data-toggle="tab">
                        Body
                    </a>
                </li>
                <li role="presentation">
                    <a href="#responseHeaders" aria-controls="responseHeaders" role="tab" data-toggle="tab">
                        Headers
                        <span th:text="${not #lists.isEmpty(data_response_headers)} ? ${#lists.size(data_response_headers)} : '0'"
                              class="badge"></span>
                    </a>
                </li>
            </ul>

            <hr/>

            <div class="tab-content">
                <div th:replace="fragments/network_body :: body (body_field=${response_body}, body_state=${data_response_body_state}, content_type=null, content_length=${data_response_content_length}, body_size=${data_response_body_size}, body_url=${response_body_url}, id='responseBody')"></div>
                <div th:replace="fragments/network_headers_list :: headers (data_field=${data_response_headers}, id='responseHeaders')"></div>
            </div>
        </div>
    </div>

    <p class="url"><strong>url:</strong>
        <a th:href="${info_url}" th:text="${info_url}"></a>
    </p>
</div>

</body>
</html>
