<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Response</title>
    <object th:replace="base_head :: head"></object>
</head>

<body>

<div class="container">
    <h3>Response</h3>
    <h4>
        <span th:text="${data_request_method != null} ? (${data_request_method} + ' ')"></span>
        <a th:if="${data_request_url != null}" th:href="${data_request_url}" th:text="${data_request_url}"></a>
        <span th:text="${data_protocol != null} ? (' ' + ${data_protocol})"></span>
    </h4>
    <h4><a th:href="${response_body_url}">body</a></h4>
    <pre th:text="${response_body}" class="prettyprint pre-scrollable"></pre>

    <p class="url"><strong>url:</strong>
        <a th:href="${info_url}" th:text="${info_url}"></a>
    </p>
</div>

</body>
</html>
